<!DOCTYPE html>
<html>
<head>
<title>Welcome to your Public FTP Storage!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Welcome to Public FTP Storage!</h1>
<p>Please make sure you reference this site through <a href="https://some.domain.com/data/{{item.username}}"https://some.domain.com/data/{{item.username}}</p>
<p>This will only be available once your account has been set up</p>

<p>
      Please contact <tt>help@some.domain.com</tt> if you need assistance.
</p>

<p><em>Thank you!</em></p>


</body>
</html>
